<!-- partials/_navbar.ejs -->

<link rel="stylesheet" href="/stylesheets/partials.css" />

<nav>
    <% if (user) { %>
      <div class ="navbar">
        <div class ="navfilms-links"> </div>
    <a class="filmslink" href="/films">View all Films</a>
    <div class="navsignout-links">
    <a class="signoutlink" href="/auth/sign-out">Sign Out</a>
  </div>
</div>

    <% } else { %>
      <div class ="navbar">
      <div class ="nav-links">
    <a class="signuplink" href="/auth/sign-up">Sign Up</a>
    <a class="signinlink" href="/auth/sign-in">Sign In</a>
  </div>
</div>
    <% } %>
  </nav>
  