<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
 

    <body class="index-body">
      
      <p> 
        <div class="films-links">
         
          <a class="film-links" href="/films">Browse Films</a>
          <a class="sign-out" href="/auth/sign-out">Sign out</a>
        </div>
      </p>
    
        </div>
        
      <div section class="text-container">
   
    
    <% if (user) { %>
        <h1 class="main-header2">Welcome to Filmflix, <%= user.username %>!</h1>

    <div class="films-links">
        <a class="film-links" href="/films">Browse Films</a>
    </div>
       
        <% } else { %>
        </section>
        
        <section class="body-container">

        <p class="main-header"></h1>Welcome to Filmflix!</h1></p>
            <p class="subheader"> A film app that allows users to like and share films</p>
            <div class="auth-links">
            <p> <a class="signup-link" href="/auth/sign-up">Sign up</a> now to like films!</p>
            <p>Already have an account? <a class="sign-in-link" href="/auth/sign-in">Sign in</a></p>
            <% } %>
          </section>
          </div>
        </div>
          
  </body>
</html>
