<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Home Page</title>
  </head>
 

    <body class="index-body">
      <div class="index-container">
        
      <div class="text-container">
    <a href="/films">Browse Films</a>
    
    <% if (user) { %>
        <h1 class="main-header2">Welcome to Filmflix, <%= user.username %>!</h1>
        <p><a href="/auth/sign-out">Sign out</a></p>
        <% } else { %>
          
            <h1 class="main-header"></h1>Welcome to Filmflix!</h1>
            <p class="subheader"> A film app that allows users to like and share films</p>
            <div class="auth-links">
            <p> <a href="/auth/sign-up">Sign up</a> now to like films!</p>
            <p>Already have an account? <a href="/auth/sign-in">Sign in</a></p>
            <% } %>
          </div>
          </div>
          
  </body>
</html>
