<!-- views/applications/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Your Apps</title>
</head>
<body>
    <a href="/film/<%=film._id%>/reviews">Your Apps</a>
  <h1>Your Apps</h1>
  >
</body>
</html>
